/*
colors:
blue: #0073b7;
bright green: #49c633;
hover grey: #e7e7e7;

Google Fonts:
font-family: 'Montserrat', sans-serif;
font-family: 'Libre Franklin', sans-serif;
*/

* {
  font-family: 'Libre Franklin', sans-serif;;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}


.grid .row {
  margin-left: -50px;
  margin-right: -50px;
}

.grid {
  padding: 0px;
}


.table > tbody > tr > td {
  vertical-align: middle;
}

.row {
  padding-top: 14px;
}


  table.myTable {
    font-size: 14px;
    width: 500px;
    border-width: 1px;
    border-color: #0073b7;;
    border-collapse: collapse;
  }

  table.myTable th {
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    border-color: #517994;
    background-color: #0073b7;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .03em;
  }

  table.myTable tr:hover td {
    background-color: #e7e7e7;
  }

  table.myTable td {
    border-width: 1px;
    width: 50px;
    padding: 5px;
    border-style: solid;
    border-color: #0073b7;;
    background-color: #ffffff;
  }

  table.myTable td button {
    background-color: #66B2C9;
    color: white;
  }

  div.table-responsive {
    width: 3000px;
    height: 550px;
  }

.table-responsive {
  height: 45vh;
  overflow: scroll;
}


.filterSubredditContainer h3{
   color: #49c633;
   font-size: 1.5em;
} 

.filterSubredditContainer ul {
  list-style: none;
  line-height: .6em;
}

.filterSubredditContainer label input {
   margin-right:10px;
}

.filterSubredditContainer label {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .03em;

}

